__pycache__/
*.py[cod]
*$py.class
*.so
.Python
build/
develop-eggs/
dist/
downloads/
eggs/
.eggs/
lib/
lib64/
parts/
sdist/
var/
wheels/
share/python-wheels/
*.egg-info/
.installed.cfg
*.egg

*~
*.root
*.pkl
*.zip
*.ipynb_checkpoints
\#*\#
*.elc
auto-save-list
tramp
.\#*


*.pdf
*.pth
*env/
*.log
*.dot
.local
.condor_config
results/
compressed/
.application_data
.ipynb_checkpoints
figures*/
coffeaenv/
compressed/
analyzer_resources/
.local/
.private/
*.log
.bash_eternal_history
.condor_config
.inspect_cli_history
oldpkl/
old_fitting/__init__.py
old_fitting/background_sim.py
old_fitting/blinder.py
old_fitting/cli.py
old_fitting/config.py
old_fitting/core.py
old_fitting/dataloading.py
old_fitting/diagnostics.py
old_fitting/estimate.py
old_fitting/extra_types.py
old_fitting/gather_results.py
old_fitting/high_level.py
old_fitting/logging.py
old_fitting/models.py
old_fitting/predictive.py
old_fitting/regression.py
old_fitting/signal_fitting.py
old_fitting/slice_plot.py
old_fitting/stat_checks.py
old_fitting/storage.py
old_fitting/transformations.py
old_fitting/utils.py
old_fitting/analysis/numpmodel.py
old_fitting/analysis/p_value.py
old_fitting/analysis/statmodel.py
old_fitting/combine/__init__.py
old_fitting/combine/datacard.py
old_fitting/combine/generate.py
old_fitting/combine/plot_rate.py
old_fitting/combine/plot_sensitivity.py
old_fitting/distributed/__init__.py
old_fitting/distributed/make_env.py
old_fitting/distributed/submit.py
old_fitting/distributed/resources/__init__.py
old_fitting/distributed/resources/exec_file
old_fitting/plotting/__init__.py
old_fitting/plotting/annots.py
old_fitting/plotting/diagnostics.py
old_fitting/plotting/patchmpl.py
old_fitting/plotting/plot_tools.py
old_fitting/plotting/plots.py
old_fitting/templating/__init__.py
old_fitting/templating/latex_env.py
old_fitting/templating/make_signal_card.py
