[- set meta = metadata -]
[- set other = meta.get("other_data", {}) -]
[- set era = meta.get("era", {}) -]
[- set point_dir_safe = point_dir | replace("_", "\\_") -]
[- set dataset_name_safe = meta.get("dataset_name", "") | replace("_", "\\_") -]
[- set era_name_safe = era.get("name", "") | replace("_", "\\_") -]
[- set coupling_safe = other.get("coupling", "") | replace("_", "\\_") -]
[- set injection_rate = meta.get("injection_rate", "") -]
[- set window_type = meta.get("window_type", "") -]
[- set stop_mass = other.get("stop_mass", "") -]
[- set chargino_mass = other.get("chargino_mass", "") -]
[- set dataset_title = meta.get("dataset_title", "") -]


\begin{tabularx}{\textwidth}{@{}X r@{}}
{\Large \textbf{GPR point summary}} & {\small \texttt{[[ point_dir_safe ]]}} \\
\end{tabularx}

\vspace{0.25em}

\noindent
\begin{tabularx}{\textwidth}{@{\hspace{2pt}} X @{\hspace{2pt}}}
  \arrayrulecolor{gray!40}\toprule
  \small\textbf{Era:}~[[ era_name_safe ]] \quad
  $m_{\tilde{t}}$:~[[ stop_mass ]] \quad
  $m_{\tilde{\chi}^\pm}$:~[[ chargino_mass ]] \quad
  \textbf{Coupling:}~[[ coupling_safe ]] \quad
  \textbf{Injection:}~[[ injection_rate ]] \quad
  \textbf{Window:}~[[ window_type ]] \\
  \arrayrulecolor{gray!40}\bottomrule
\end{tabularx}

\vspace{0.6em}

